/*
--- GROUPING BY TYPE ---

--layoout--
display: flex;
position: relative;
z-index: 1;

--size--
width: 100px;
height: 100px;
margin: 10px;
padding: 10px;

--border--
border: 1px solid #000;
border-radius: 5px;

--background--
background-color: #f0f0f0;

--font--
font-size: 16px;
font-weight: bold;
color: #333;

--others--
opacity: 0.9;


--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights
Default: 400
Medium: 500
semi-bold: 600
Bold: 700

- Line heights
Default: 1
1.05
1.6
Paragraph default: 1.6

--- 02 COLORS

-Primary: #FF922B
-Tints: 
#fff4ea
#ffa855
-Shades: 
#99581a
#CC7522
-Accents: #6D7EB3
-Greys:#555

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0,0,0,0.075)

--- 06 BORDER-RADIUS
default: 0

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/******************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting*/
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Noto Sans Traditional Chinese", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  background-color: #f0f9ff;
}

.container {
  /*around 1140px*/
  max-width: 180rem;
  margin: 0 auto;
  padding: 9.6rem 3.2rem;
}

.container-homepage {
  margin: 9.6rem auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  justify-content: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 6.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 5.2rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

/******************************/
/* MAIN NAVIGATION */
/******************************/

.main-nav {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-self: start;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  justify-content: center;
}

.main-nav-link {
  position: relative;

  font-size: 4.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.main-nav-link span {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  left: 0;
  background-color: #a5f3fc;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
}

/* .main-nav-link:hover,
.main-nav-link:active {
  color: #a5f3fc;
} */

.main-nav-link:hover span,
.main-nav-link:active span {
  transform: scaleX(1);
}

/******************************/
/* MAIN CONTENT */
/******************************/

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
  justify-self: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.8rem;
  list-style: none;
}

.job-title {
  font-size: 2rem;
}

.animation-box {
  text-align: center;
}

.rotate-square {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: #7dd3fc;
  animation: rotate 5s both infinite alternate 1s;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  }

  40% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
  }

  60% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }

  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
}

/******************************/
/* FOOTER */
/******************************/

.footer {
  max-width: 120rem;
  height: 3rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  text-align: center;
}

/******************************/
/* WORK NAV */
/******************************/

.home-link {
  color: #e5e7eb;
}

.container-description {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
  align-self: center;
  padding: 2rem;
}

.description {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
}

/******************************/
/* MAIN WORK */
/******************************/

.container-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-self: start;
  justify-content: center;
}

.image-box {
  border: 2px solid #7dd3fc;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
}

.image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7dd3fc;
  opacity: 0.9;
  transition: all 1s;
  transform: translate(-800px, -300px) rotate(45deg);
  transform-origin: right bottom;
}

.image-box:hover::before {
  transform: translateY(0%);
}

.work-brief {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 65%;
  /* background-color: #38bdf8; */
  transform: translate(-50%, 80%);
  transition: all 1s;
}

.image-box:hover .work-brief {
  transform: translate(-50%, -50%);
}

.work-page {
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

.work-page::before {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #38bdf8;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
}

.work-page:hover::before,
.work-page:active::before {
  transform: scaleX(1);
}

.container-work-link {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon-github {
  font-size: 3rem;
  color: #333;
  transition: all 0.5s;
}

.icon-github:hover {
  color: #38bdf8;
}

.resource-link {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #7dd3fc;
  color: white;
  transition: all 0.5s;
}

.resource-link:hover,
.resource-link:active {
  background-color: #38bdf8;
}

.container-tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 1.6rem;
}

.container-tech-list li {
  border-bottom: 2px solid #d1d5db;
  padding: 0.5rem;
  font-size: 1.2rem;
}

/******************************/
/* MAIN ABOUT */
/******************************/

.container-profile {
  width: 100%;
}

.image-profile {
  width: 100%;
}

.container-experience {
  justify-self: center;
}

.experience-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.6rem;
  justify-self: center;
}

.experience-list li {
  font-size: 1.6rem;
  line-height: 1.6;
}

.container-cv {
  grid-column: span 2;
  justify-self: center;
}

.cv-link {
  border-radius: 1rem;
  font-size: 3rem;
  text-decoration: none;
  background-color: #7dd3fc;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.cv-link:hover,
.cv-link:active {
  background-color: #38bdf8;
}

/******************************/
/* MAIN CONTACT */
/******************************/

.container-contact {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 2.4rem;
}

.container-contact__information {
  padding: 2rem;
}

.social-media-box {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.social-media-box ion-icon {
  font-size: 2rem;
}

.container-contact-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-mail {
  font-size: 3rem;
}

.icon-call {
  font-size: 3rem;
}

.icon-mail-text {
  font-size: 1.8rem;
  text-decoration: none;
  color: #9ca3af;
  transition: all 0.3s;
}

.icon-mail-text:hover,
.icon-mail-text:active {
  color: #7dd3fc;
}

.logo-instagram,
.logo-linkedin,
.logo-github {
  font-size: 2rem;
  text-decoration: none;
  color: #9ca3af;
  transition: all 0.3s;
}

.logo-instagram:hover,
.logo-instagram:active,
.logo-linkedin:hover,
.logo-linkedin:active,
.logo-github:hover,
.logo-gitbub:active {
  color: #7dd3fc;
}

/******************************/
/* WORK-1 */
/******************************/

/******************************/
/* PROJECT-BRIEF */
/******************************/

.container__project-brief {
  max-width: 120rem;
}

.work-1 {
  justify-content: center;
}

.project-skills {
  display: flex;
  padding: 2rem;
  /* flex-direction: column; */
  gap: 3rem;
  justify-content: space-between;
  /* justify-self: center; */
  grid-column: 1 / -1;
  border: 2px solid #7dd3fc;
  border-radius: 1rem;
}

.project-role__title,
.project-tech__title,
.project-ux__title {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.project-role__list,
.project-tech__list,
.project-ux__list {
  list-style: none;
  line-height: 1.8;
}

.project-role__list li,
.project-tech__list li,
.project-ux__list li {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

/******************************/
/* DESIGN PROCESS */
/******************************/

.container__working-process {
  max-width: 120rem;
}

.process__title {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.steps {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 8rem;
  margin-bottom: 2rem;
}

.functions {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.steps__title {
  font-size: 2.4rem;
}

.direction {
  width: 12rem;
}

.function {
  font-size: 2.4rem;
}

.steps__list li {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  line-height: 1.8;
}

.design-direction__title {
  width: 15rem;
}

/******************************/
/* COMPARISON RESENTATION */
/******************************/

.container__comparison-presentation {
  max-width: 120rem;
}

.comparison-presentation__title {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  grid-column: 1 / -1;
}

.comparison-presentation__description {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.img__function {
  width: 50%;
}

.videos__function {
  width: 100%;
}

.function-presentation {
  grid-column: 1 / -1;
}

/******************************/
/* CTA */
/******************************/

/******************************/
/* WORK-2 */
/******************************/

.comparison-presentation__work-2 {
  grid-column: 1 / -1;
}

.work-2 {
  justify-content: center;
}

/******************************/
/* BELOW 1200PX */
/******************************/

@media (max-width: 75rem) {
  html {
    /*9px / 16px = 0.56 = 56%*/
    font-size: 56%;
  }
}

@media (max-width: 62.5rem) {
  .container__image-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 45rem) {
  .container__hompage--sm {
    grid-template-columns: 1fr;
  }

  .container__project-brief-sm {
    grid-template-columns: 1fr;
  }

  .container__about-sm {
    grid-template-columns: 1fr;
  }

  .container-cv {
    grid-column: span 1;
    justify-self: center;
  }

  .container__contact--sm {
    grid-template-columns: 1fr;
  }

  .container__image-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 31rem) {
  .project-skills {
    flex-direction: column;
  }

  .project-role {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-ux {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .heading-secondary {
    font-size: 4.4rem;
  }

  .heading-tertiary {
    font-size: 3rem;
  }

  .main-nav-link {
    font-size: 3.6rem;
  }
}
